# Operating System & System Files
.DS_Store
.DS_Store?
.Trashes
ehthumbs.db
Thumbs.db

# Environment & Secrets
.env
.env.local*
.pem

# Dependencies
node_modules/

# Build & Output 
/dist/
/build/

# VS Code files for those working on multiple tools
.vscode/*

# Logs
logs/
*.log
npm-debug.log*
.cache/
.temp/
.tmp/
